/** A2D css **/

#A2D_RADIO,
#A2D_SCREEN,
#A2D_INTERNET {
  font-size: large;
  display: flex;
}

#A2D_BAR.hidden,
#A2D_RADIO.hidden,
#A2D_SCREEN.hidden,
#A2D_INTERNET.hidden {
  display: none;
}

#A2D_SCREEN_TEXT,
#A2D_INTERNET_TEXT {
  margin-right: 10px;
}

#A2D_RADIO_IMG {
  height: 100px;
  width: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0;
}

#A2D_SCREEN_BAR {
  font-size: large;
}

#A2D_SCREEN_BAR.Line {
  height: 40px;
}

#A2D_SCREEN_BAR.Circle {
  width: 100px;
  height: 93px;
  top: 10px;
}

#A2D_SCREEN_BAR.SemiCircle {
  width: 100px;
  top: 10px;
}

#A2D_SCREEN_BAR.Bar {
  margin-bottom:4px;
  height: 4px;
  width: 100%;
  position:relative;
}

/** Spotify css**/

#A2D_SPOTIFY {
  position: relative;
  float:left;
  border-radius:10px;
  box-sizing:border-box;
  color:#EEE;
  font-weight:normal;
  font-size:18px;
  text-align:left;
  line-height:120%;
  text-shadow:black 2px 2px 2px;
  width: 25%;
  height: 76px;
}

#A2D_SPOTIFY_FOREGROUND {
  position:relative;
  filter:none;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  box-sizing:border-box;
  flex-direction:row;
  justify-content: space-between;
  padding:0;
}

#A2D_SPOTIFY_COVER {
  margin-bottom:0.5vh;
  position: relative;
  width:75px;
  height:75px;
  padding:0;
  /*z-index:1;*/
}

#A2D_SPOTIFY_COVER_IMAGE {
  width:100%;
  box-shadow:black 1px 1px 1px 1px;
  height:75px;
  border-radius:0px;
}

#A2D_SPOTIFY_PROGRESS_BAR {
  position: relative;
  width: 100%;
  height: 1px;
  border: 0px transparent;
  margin-bottom: 4px;
}

progress[value]#A2D_SPOTIFY_PROGRESS_BAR::-webkit-progress-value {
  background-color: #FFF;
}

progress[value]#A2D_SPOTIFY_PROGRESS_BAR::-webkit-progress-bar {
  background-color: #666;
}

#A2D_SPOTIFY_CONTROL_PLAY {
  display: inline-block;
  margin: auto;
  width: 50px;
}

#A2D_SPOTIFY_MISC {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  overflow: hidden;
  width:calc(100% - 75px - 50px);
}

#A2D_SPOTIFY_INFO {
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  height: 70%;
  justify-content: center;
  align-items: center;
  width: initial;
}

#A2D_SPOTIFY_TITLE {
  font-weight: bold;
}

#A2D_SPOTIFY_LOGO {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#A2D_SPOTIFY_INFO_FOOTER {
  display: none;
  flex-direction:row;
  justify-content: space-between;
  align-content: flex-end;
}

#A2D_SPOTIFY_COVER_IMAGE.fade-in {
  animation: fadeInOpacity 1s 1;
  animation-timing-function: linear;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#A2D_SPOTIFY.bottomIn {
  animation-duration: 1s;
  animation-name: fadeInBottom;
}

#A2D_SPOTIFY.bottomOut {
  animation-duration: 1s;
  animation-name: fadeOutBottom;
  animation-fill-mode: forwards;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translate3d(0, 200%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutBottom {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 200%, 0);
  }
}

#A2D_SPOTIFY .text {
  width: inherit;
  margin-right: 0.5em;
  white-space: nowrap;
  display:inline-block;
  font-size: 1em;
}

#A2D_SPOTIFY .iconify {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 0px;
}

#A2D_SPOTIFY .infoicon {
  display:none;
  margin-right: 8px;
}

#A2D_SPOTIFY_VOLUME .mdi {
  font-size: 20px;
}

#A2D_SPOTIFY.pausing #A2D_SPOTIFY_COVER_IMAGE,
#A2D_SPOTIFY.pausing #A2D_SPOTIFY_PROGRESS_BAR,
#A2D_SPOTIFY.pausing #A2D_SPOTIFY_MISC {
  filter:brightness(50%) grayscale(75%);
}

#A2D_SPOTIFY.inactive {
  display:none;
}

#TEXT_BULLET {
  margin-right: 0.5em;
  white-space: nowrap;
  display:inline-block;
  color: grey;
}

